*{font-family: 'Montserrat', sans-serif;}
.carousel-caption{top: 47%;}
.custom-hover a{border:1px solid #fff;}
.custom-hover a:hover{border: 1px solid;background:#ffcd48;}
.font-custom h2{font-size: 4rem;font-weight: 100;}
.text-color h5{color:#ffcd48; text-decoration: none;}
.text-color a{color:#ffcd48;}
.bg-color {background:#ffcd48;}
.btn-search>a{border:1px solid gray;margin-bottom:30px;padding:10px;width:100%;}
.btn-search>a:hover{color:black;background:#ffcd48;}
.custom-text {font-size:1.1rem;margin-bottom:0.9rem;color: #ffcd48;}
.custom-text1{font-size:1.1rem;margin-bottom:0.9rem;}
.custom-text1:hover{color:#ffcd48; }
.postion{position: relative; top: -52px;}
.postion-2{position: relative;top: -133px;}
#active1{background:#333333;color:#ffcd48;}
#active1:hover{background:#ffcd48;color:#333333;}
.btn-deco a {text-decoration: none;background:#fff;padding: 10px 22px;border-radius: 30px;font-size: 1rem; color: #333333;border:1px solid #dfdfdf;}
.btn-deco a:hover{background:#333333;color:#ffcd48; }
.mt-n1{margin-top:-60px;}
.footer{background:url(../images/footer.png)no-repeat;background-size: cover;}
.footer i{padding:7px;border:1px solid #dfdfdf;border-radius:100%;}
.footer i:hover{background:#ffcd48; }
.active{background:#ffcd48;}
